@tailwind components;

// $mobile-width: 393px;

@layer components {
  .animated-bg {
    position: absolute;
    width: auto;
    height: auto;
    top: -28px;
    left: -28px;
    right: -28px;
    bottom: -28px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
  }

  .page {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 0 100px;
  }

  .border-page-content {
    -webkit-box-shadow: 0 0 100px -5px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 0 100px -5px rgba(0, 0, 0, .25);
    box-shadow: 0 0 100px -5px rgba(0, 0, 0, .25);
    border-radius: 32px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  @media only screen and (max-width: 1024px) {
    .page {
      padding: 0;
    }

    .page-content {
      padding: 0;
      margin: 0;
      border-radius: 0;
      min-height: 100%;
      min-width: 100%;
    }
  }


  .content-area-width {
    max-width: 100%;
  }


  .content-area {
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    max-width: calc(100% - 393px - 12px);
    padding: 40px;
  }

  @media only screen and (max-width: 1280px) {
    .content-area {
      max-width: calc(100% - 330px);
    }
  }

  @media only screen and (max-width: 1024px) {
    .content-area {
      max-width: 0px;
      display: none;
    }
  }

  .animated-sections {
    position: relative;
    height: 100%;
    -webkit-perspective: 1500px;
    -moz-perspective: 1500px;
    perspective: 1500px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .section-content {
    background-color: #222;
    padding: 60px;
    position: relative;
    height: auto;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -ms-transform: none;
  }

  @media only screen and (max-width: 768px) {
    .section-content {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  .header {
    position: relative;
    width: 393px;
    max-width: 393px;
    // min-height: calc(852px + 24px);
    height: 800px;
    padding: 12px auto;
    text-align: center;
    overflow: auto;
  }

  .header-titles {}

  .header-titles h2 {
    font-size: 36px;
    font-weight: 600;
    color: #f5f5f5;
    margin: 5px 0 7px;
    line-height: 1.2em;
  }

  .header-titles h4 {
    font-size: 18px;
    font-weight: 300;
    color: #bbb;
    margin: 5px 0;
    line-height: 1.2em;
  }

  /* --- Navigation --- */
  ul.main-menu {
    position: absolute;
    padding: 15px 0;
    width: 70px;
    right: -90px;
    background-color: #444;
    border-radius: 35px;
    z-index: 999;
    list-style: none;
    top: 0;
    -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 0 30px -5px rgba(0, 0, 0, .15);
    box-shadow: 0 0 30px -5px rgba(0, 0, 0, .15);
  }

  ul.main-menu a {
    display: block;
    position: relative;
    color: #b5b6b7;
    padding: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  ul.main-menu a.active,
  ul.main-menu a:focus,
  ul.main-menu a:hover {
    color: #fca072;
  }

  ul.main-menu .menu-icon {
    display: block;
    font-size: 30px;
  }

  ul.main-menu .link-text {
    position: absolute;
    width: auto;
    visibility: hidden;
    opacity: 0;
    color: #fff;
    padding: 2px 10px;
    background-color: #fca072;
    white-space: nowrap;
    right: 0;
    top: -50%;
    margin-top: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 0;
    box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, .22);
  }

  ul.main-menu a:hover .link-text {
    right: 100%;
    visibility: visible;
    opacity: 1;
  }

}
